.company__profile__container {
    width: 1148px;
    margin: 0 auto;

}

.company__profile__name {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company__profile__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/**? *******************/
/**? *******************/
.company__profile__desc {
    width: 70%;
    padding-right: 50px;
}

.company__profile__desc__wrapper {
    display: flex;
    margin-top: 23px;
}

.profile__desc__fotoviews {
    width: 219px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profile__desc__foto {
    height: 219px;
    width: 219px;
    border-radius: 5px;
    overflow: hidden;
}

.profile__desc__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__desc__views {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile__desc__views img {
    margin-right: 5px;
}

.profile__desc__views p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__desc__social {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__desc__social__element a {
    margin: 0px 4.5px;
}

.profile__desc {
    margin-left: 54px;
}

.profile__desc__name {
    color: #000;

    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 11px;
}

.profile__desc__location {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.profile__desc__location p {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__desc__location span {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__desc__date {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 13px;
}

.profile__desc__date__more {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.profile__desc__date__more p {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 13px;
}

.profile__desc__contacts__name {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 22px;
}

.profile__desc__contacts {
    width: 100%;
    margin-top: 14px;
}

.profile__desc__contacts p {
    width: 32%;
}

.profile__desc__contacts__all {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile__desc__contacts__represent {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-top: 12px;
}

.company__profile__desc__name {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 14px;
    margin-bottom: 10px;
}

.company__profile__desc__text {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.company__profile__desc__text p {
    margin-bottom: 12px;
}

/**? *******************/
/**? *******************/
.company__profile__settings {
    width: 25%;
    padding-left: 14.5px;
    min-height: 100vh;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.profile__settings__wrapper {
    width: 100%;
}

.profile__settings__element {
    width: 257px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}

.profile__settings__element a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__settings__name {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 33px;
}

/*************PROFILE SERTIFICATES******************/
/*************PROFILE SERTIFICATES******************/


.profile__settings__sertificates {
    width: 257px;
    height: 223px;
    border-radius: 10px;

    background: #d9d9d98e;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profile__sertificates__appbar {
    border-radius: 10px 10px 0px 0px;
background: #D9D9D9;
width: 257px;
height: 43.687px;
flex-shrink: 0;

display: flex;
align-items: center;
justify-content: space-between;

padding: 0px 15px;
}

.appbar__name{
    color: #000;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.appbar__add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
background: #B6DFA2;

    
}

.appbar__add a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__sertificates__slider {

    height: 100%;
    width: 100%;
    padding: 14px 19px 30px 19px;
}

.profile__sertificates__swiper_wrapper {

    width: 100%;
    height: 100%;
}
.profile__sertificates__swiper_wrapper .swiper {
    width: 70%;
    margin: 0 auto;
    height: 100%;

}

.mySwiper0 {}

.swiper-wrapper {}

.swiper-slide {}


.swiper__sertificate__container{
    width: 100%;
    overflow: hidden;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.certificate__image{
    width: 100%;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.certificate__image img{
    height: 100%;
    object-fit: cover;
}
.certificate__name{
    width: 100%;

    height: 35px;
    color: #000;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.swiper-button-next0 {
    background-color: red;

}

.swiper-button-prev0 {
    background-color: green;
}




/*************PROFILE SERTIFICATES******************/
/*************PROFILE SERTIFICATES******************/



.company__profile__categories {
    width: 100%;
    border-radius: 17px;
    background: rgba(217, 217, 217, 0.25);
}

.profile__categories__nameadd {
    width: 100%;
    border-radius: 17px 17px 0px 0px;
    background-color: #D9D9D9;
    padding: 0px 28px 0px 74px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__categories__name {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__categories__add a {
    width: 227px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #B6DFA2;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__categories__wrapper {
    width: 100%;
    margin-top: 34px;
}

.profile__categories__blockN {
    width: 100%;
    padding-bottom: 34px;
}

.categoriesN__name {
    display: flex;
    width: calc(100% - 147px);
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 13px;
}

.categoriesN__name p {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categoriesN__name a p {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.categoriesN__wrapper {
    min-height: 250px;
    width: 100%;
}

.categoriesN__wrapper_showall {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 147px);
    margin: 0 auto;
    text-align: right;

    margin-top: 20px;
}

.categoriesN__wrapper_showall a {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.categoriesN__swiper__container {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper {
    width: calc(100% - 147px);
    margin: 0 auto;
}

.mySwiper1 {}

.swiper-wrapper {}

.swiper-slide {}

.swiper__categoriesN__block {
    display: block;
    height: 245px;
    width: 172px;
    background-color: #EDEDED;
    border-radius: 11px;

    position: relative;
}



.categoriesN__image {
    height: 172px;
    width: 100%;
    border-radius: 11px 11px 0px 0px;
    overflow: hidden;


}

.categoriesN__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categoriesN__swiper__name {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 9px;
    margin-left: 13px;
}

.categoriesN__swiper__price {
    position: absolute;
    right: 13px;
    bottom: 6px;

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.swiper-button-next {}

.swiper-button-prev {}