.company__profile__container {
    width: 1148px;
    margin: 0 auto;

}

.company__profile__name {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company__profile__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/**? *******************/
/**? *******************/
.company__profile__desc {
    width: 70%;
    padding-right: 50px;
}

.company__profile__desc__wrapper {
    display: flex;
    margin-top: 23px;
}

.profile__desc__fotoviews {
    width: 219px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.profile__desc__foto {
    height: 219px;
    width: 219px;
    border-radius: 5px;
    overflow: hidden;
}

.profile__desc__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__desc__views {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 68px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 5px 0px;
    background: rgba(217, 217, 217, 0.8);
    right: 5px;
    top: 175px;
}

.profile__desc__views img {
    margin-right: 5px;
}

.profile__desc__views p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__desc__social {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__desc__social__element a {
    margin: 0px 4.5px;
}

.profile__desc {
    margin-left: 42px;
    width: calc(100% - 220px);
}

.profile__desc__name {
    color: #000;

    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 11px;
}

.profile__desc__location {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.profile__desc__location p {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__desc__location span {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__desc__date {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 13px;
}

.profile__desc__date__more {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.profile__desc__date__more p {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 13px;
}

.profile__desc__contacts__name {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 22px;
}

.profile__desc__contacts {
    width: 100%;
    margin-top: 14px;
}

.profile__desc__contacts p {
    width: 32%;
}

.profile__desc__contacts__all {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile__desc__contacts__represent {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-top: 12px;
}

.company__profile__desc__name {
    margin-top: 34px;
    margin-bottom: 20px;
}

.company__profile__desc__name p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company__profile__desc__name span {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.company__profile__desc__text {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.company__profile__desc__text p {
    margin-bottom: 12px;
}

/**? *******************/
/**? *******************/
.company__profile__settings {
    width: 25%;
    padding-left: 14.5px;

    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.profile__settings__wrapper {
    width: 100%;
}

.profile__settings__element {
    width: 257px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
}

.profile__settings__element a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__settings__name {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 33px;
}

/*************PROFILE SERTIFICATES******************/
/*************PROFILE SERTIFICATES******************/


.profile__settings__sertificates {
    width: 257px;
    height: 223px;
    border-radius: 10px;

    background: #d9d9d98e;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profile__sertificates__appbar {
    border-radius: 10px 10px 0px 0px;
    background: #D9D9D9;
    width: 257px;
    height: 43.687px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 15px;
}

.appbar__name {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.appbar__add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #B6DFA2;


}

.appbar__add a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__sertificates__slider {

    height: 100%;
    width: 100%;
    padding: 14px 19px 30px 19px;
}

.profile__sertificates__swiper_wrapper {

    width: 100%;
    height: 100%;
}

.profile__sertificates__swiper_wrapper .swiper {
    width: 70%;
    margin: 0 auto;
    height: 100%;

}

.mySwiper0 {}

.swiper-wrapper {}

.swiper-slide {}


.swiper__sertificate__container {
    width: 100%;
    overflow: hidden;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.certificate__image {
    width: 100%;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate__image img {
    height: 100%;
    object-fit: cover;
}

.certificate__name {
    width: 100%;

    height: 35px;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.swiper-button-next0 {
    background-color: red;

}

.swiper-button-prev0 {
    background-color: green;
}




/*************PROFILE SERTIFICATES******************/
/*************PROFILE SERTIFICATES******************/



.company__profile__categories {
    width: 100%;
    border-radius: 17px;
    background: rgba(217, 217, 217, 0.25);
    margin-top: 30px;
}

.profile__categories__nameadd {
    width: 100%;
    border-radius: 17px 17px 0px 0px;
    background-color: #D9D9D9;
    padding: 0px 28px 0px 74px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__categories__name {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__categories__add a {
    width: 227px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #B6DFA2;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__categories__wrapper {
    width: 100%;

}

.profile__categories__blockN {
    width: 100%;
    padding-bottom: 34px;
}

.categoriesN__name {
    display: flex;
    width: calc(100% - 147px);
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 13px;
    margin-top: 34px;
}

.categoriesN__name p {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categoriesN__name a p {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.categoriesN__wrapper {
    min-height: 250px;
    width: 100%;
}

.categoriesN__wrapper_showall {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 147px);
    margin: 0 auto;
    text-align: right;

    margin-top: 20px;
}

.categoriesN__wrapper_showall a {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.categoriesN__swiper__container {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper {
    width: calc(100% - 147px);
    margin: 0 auto;
}

.mySwiper1 {}

.swiper-wrapper {}

.swiper-slide {}

.swiper__categoriesN__block {
    display: block;
    height: 245px;
    width: 172px;
    background-color: #EDEDED;
    border-radius: 11px;

    position: relative;
}



.categoriesN__image {
    height: 172px;
    width: 100%;
    border-radius: 11px 11px 0px 0px;
    overflow: hidden;


}

.categoriesN__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categoriesN__swiper__name {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 9px;
    margin-left: 13px;
}

.categoriesN__swiper__price {
    position: absolute;
    right: 13px;
    bottom: 6px;

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.swiper-button-next {}

.swiper-button-prev {}

.categories__swiper__container {
    width: 100%;
    height: 244px;
    position: relative;
}

/*! **********CATEGORIES SWIPER ALL*******************/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide .swiper__recomendation__element {
    width: 173px;
    height: 243px;
    border-radius: 11px;
    background: #EDEDED;
}

.swiper__recomendation__element__image {
    width: 173px;
    height: 173px;
    border-radius: 11px 11px 0px 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper__recomendation__element__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper__recomendation__element__desc {
    text-align: left;
    padding: 1px 10px;
}

.swiper__recomendation__element__name p {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 32px;
}

.swiper__recomendation__element__size p {
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.5px;
    margin-bottom: 4px;
}

.swiper__recomendation__element__material p {
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mySwiper1 {
    width: 1033px;
    position: relative;
}

.mySwiper1 .swiper-wrapper {}

.mySwiper1 .swiper-button-next-1 {
    position: absolute;
    right: -50px;
}

.mySwiper2 {
    width: 1033px;
    position: relative;
}

.mySwiper2 .swiper-wrapper {}

.mySwiper2 .swiper-button-next-2 {
    position: absolute;
    right: -50px;
}

.categoriesN__wrapper .categoriesN__name:nth-child(2) {
    margin-top: 30px;
}

.categories__swiper__container [class^="swiper-button-next"] {
    color: rgba(250, 250, 250, 0);
    background-image: url(./imgs/arrow_next.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    right: 23px;
}

.categories__swiper__container [class^="swiper-button-prev"] {
    color: rgba(250, 250, 250, 0);
    background-image: url(./imgs/arrow_prev.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    right: 23px;
}



.profile__sertificates__slider [class^="swiper-button-next"] {
    color: rgba(250, 250, 250, 0);
    background-image: url(./imgs/arrow_next.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.profile__sertificates__slider [class^="swiper-button-prev"] {
    color: rgba(250, 250, 250, 0);
    background-image: url(./imgs/arrow_prev.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.company__profile__sertificate__block {
    width: 174px;
    height: 140px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.sertificate__image {
    height: 100px;
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sertificate__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sertificate__name p {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.company__profile__content-text_pc {
    display: block;
    visibility: visible;
}

.company__profile__content-text_mobile {
    display: none;
    visibility: hidden;
}

.add__new__category button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #B6DFA2;
    width: 227px;
    height: 40px;
    flex-shrink: 0;
}

.add__new__category button p {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 660px;
    height: 1066px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .company__profile__content-text_pc {
        display: none;
        visibility: hidden;
    }

    .company__profile__content-text_mobile {
        display: block;
        visibility: visible;
    }

    .company__profile__container {
        width: 330px;
    }

    .company__profile__wrapper {
        flex-direction: column;
    }

    .company__profile__desc {
        width: 100%;
        padding-right: 0px;
    }

    .profile__desc__fotoviews {
        width: 120px;
    }

    .profile__desc__foto {
        width: 120px;
        height: 120px;
    }

    .profile__desc {
        margin-left: 9px;
    }

    .profile__desc__name p {
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .profile__desc__location span {
        font-size: 9px;
    }

    .profile__desc__location p {
        font-size: 9px;
    }

    .profile__desc__date {
        font-size: 8px;
        margin-top: 7px;
    }

    .profile__desc__date__more p {
        font-size: 8px;
    }

    .profile__desc__date__more span {
        font-size: 8px;
    }

    .profile__desc__contacts__name {
        font-size: 9px;
    }

    .profile__desc__contacts__all p {
        font-size: 8px;
    }

    .profile__desc__contacts__represent p {
        font-size: 8px;
    }

    .profile__desc__location {
        width: 180px;
    }

    .profile__desc__date__more {
        width: 180px;
    }

    .profile__desc__date__more p {
        margin-top: 5px;
    }

    .profile__desc__contacts__name {
        margin-top: 5px;
    }

    .profile__desc__contacts {
        margin-top: 3px;
    }

    .profile__desc__contacts__all {
        width: 170px;
    }

    .profile__desc__contacts__represent {
        width: 170px;
    }

    .profile__desc__contacts__all {
        position: relative;
        height: 18px;
    }

    .profile__desc__contacts__all p:nth-child(3) {
        right: 0;
        bottom: 0;
        position: absolute;
    }

    .profile__desc__contacts p {
        width: initial;
    }



    .profile__desc__contacts__represent {
        position: relative;
        height: 18px;
    }

    .profile__desc__contacts__represent p:nth-child(3) {
        right: 0;
        bottom: 0;
        position: absolute;
    }

    .profile__desc__contacts__represent p {
        width: initial;
    }



    .profile__settings__sertificates {
        width: 100%;
        width: 330px;
        height: initial;
        background-color: #d9d9d900;
    }

    .company__profile__settings {
        width: initial;
        padding-left: 0;
        border: none;
        margin-top: 40px;
    }

    .profile__sertificates__appbar {
        width: 100%;
    }

    .appbar__add {
        display: none;
        visibility: hidden;
    }

    .profile__sertificates__appbar {
        background-color: #d9d9d900;
        height: initial;
    }

    .appbar__name {
        color: #000;
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .company__profile__sertificate__block {
        width: 120px;
        height: 59px;
        overflow: hidden;
        border-radius: 5px;
        flex-direction: row;
        align-items: center;
        padding: 7px 7px 4px 7px;
        border-radius: 3px;
        background: rgba(217, 217, 217, 0.30);
    }

    .sertificate__image {
        width: 32px;
        height: 42px;
    }

    .sertificate__name {
        width: 65px;
        text-align: center;
    }

    .sertificate__name p {
        font-size: 9px;
        text-align: center;
    }

    .profile__sertificates__slider {
        height: 68px;
        padding: 0;
    }

    .profile__sertificates__slider [class^="swiper-button-next"] {
        transform: scale(0.7);
        right: -5px;
    }

    .profile__sertificates__slider [class^="swiper-button-prev"] {
        transform: scale(0.7);
        left: -5px;
    }

    .swiper-wrapper {
        position: relative;
    }

    .profile__desc {
        width: initial;
    }

    .company__profile__desc__name {
        font-size: 10px;
    }

    .company__profile__desc__text {
        color: #000;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .profile__settings__element {
        width: 106.64px;
        height: 22px;
        flex-shrink: 0;
        border-radius: 3px;
        background: #D9D9D9;
    }

    .profile__settings__element p {
        color: #000;
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .profile__settings__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .profile__categories__nameadd {}

    .categoriesN__name {
        width: 93%;
    }

    .categoriesN__name p {
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .categoriesN__name span {
        display: none;
        visibility: hidden;
    }

    .categoriesN__name a {
        width: 70px;
        height: 17px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #FFFF75;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .categoriesN__name a p {
        color: #000;
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }

    .company__profile__categories {}

    .mySwiper1 {
        width: 100%;
    }

    .swiper__recomendation__element {
        width: 87px;
        height: 103px;
    }

    .swiper__recomendation__element__image {
        height: 61.2px;
        width: 87px;
    }

    .profile__desc__views {
        display: none;
        visibility: hidden;
    }

    .profile__desc__social {
        width: 150px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: -25px;
        left: 90px;
    }

    .profile__desc__social__element a {
        width: 17.6px;
        height: 17.6px;
    }

    .profile__desc__social__element img {
        width: 17px;
        height: 17px;
    }

    .profile__categories__nameadd {
        padding: 17px 30px;
        height: initial;
    }

    .profile__categories__name {
        color: #000;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .add__new__category a {
        border-radius: 3px;
        background: #B6DFA2;
        width: 119px;
        height: 17px;
        flex-shrink: 0;
    }

    .add__new__category a p {
        color: #000;
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .categoriesN__name {
        margin-top: 15px;
    }

    .categories__swiper__container [class^="swiper-button-next"] {
        display: none;
        visibility: hidden;
    }

    .categories__swiper__container [class^="swiper-button-prev"] {
        display: none;
        visibility: hidden;
    }

    .swiper-slide .swiper__recomendation__element {
        height: 102px;
        width: 87px;
        border-radius: 5px;
        background: #C4C4C4;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .swiper__recomendation__element__desc {
        padding: 1px 7px;
    }

    .swiper__recomendation__element__name {
        height: 18px;
    }

    .swiper__recomendation__element__name p {
        color: #000;
        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: 9px;
    }

    .swiper__recomendation__element__size {}

    .swiper__recomendation__element__size p {
        color: #000;
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 0,5px;
        margin-bottom: 1px;
    }

    .swiper__recomendation__element__material p {
        color: #000;
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .mySwiper1 {

    }

    .mySwiper1 .swiper-slide {

    }
    .categories__swiper__container{
        height: 120px;
    }
    .categoriesN__wrapper{
        min-height: initial;
    }
    .mySwiper2{
        width: initial;
    }
    .categoriesN__wrapper_showall{
        width: 93%;
        margin-top: 10px;
    }
    .categoriesN__wrapper_showall a {
        border-radius: 5px;
background: #B6DFA2;
width: 70px;
height: 17px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
    }
    .categoriesN__wrapper_showall a p {
        color: #000;
text-align: center;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
    }
    .company__profile__categories{
        border-radius: 8px 8px 0px 0px;
    }
    .profile__categories__nameadd{
        border-radius: 8px 8px 0px 0px; 
    }
    .add__new__category button{
        width: 119px;
height: 17px;
flex-shrink: 0;
border-radius: 5px;
background: #B6DFA2;
    }
    .add__new__category button p {
        color: #000;
text-align: center;
font-size: 8px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
}