.company__page {
    width: 1148px;
    margin: 0 auto;
}

.company__page__wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.company__page__categories {
    width: 25%;
    padding-left: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.company__block {
    height: 100%;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 50px;
}

.company__block__navigation {
    display: flex;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.company__block__navigation span {
    margin: 0px 5px;
    font-weight: 600;
}

.company__fotodesc {
    display: flex;
    width: 100%;
}

.company__foto {
    height: 183px;
    width: 183px;
    border-radius: 5px;
    overflow: hidden;
}

.company__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.company__desc {
    margin-left: 36px;
}

.company__desc__name {
    color: #000;

    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 14px;
}

.company__desc__location {
    display: flex;
    justify-content: space-between;
    width: 340px;
    color: #000;
    font-family: Century Gothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
}

.company__desc__location span {
    font-weight: 700;
}

.company__desc__added {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
}

.company__desc__updated {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
}

.company__desc__contact {}

.company__desc__contactbutton {
    display: flex;
    width: 350px;

}

.company__desc__contact-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company__desc__contact-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 6px;
}

.company__desc__contact-button p {
    color: #000;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.company__desc__contact-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 26px;
    margin-right: 6px;
}

.company__desc__contact-person p {
    color: #000;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.company__desc__contact-button a p {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.company__desc__contact-person a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D9D9D9;
    margin-bottom: 6px;
}

.company__desc__contact-person a p {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.lock_ {
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.lock_ img {
    width: 20px;
    height: 20px;
}

/**! *************************/
/**! *************************/
/**! *************************/
/**! классы которые меняют стиль кнопки со скрытыми номерами телефонов **/
.company__active a {
    background-color: #B6DFA2;
}

.opened_number {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/**! *************************/
/**! *************************/
/**! *************************/
/**! *************************/
.company__startdate {
    margin-top: 45px;
    color: #000;
    font-family: Century Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    margin-bottom: 10px;

}

.company__startdate p:nth-child(1) {
    font-weight: 700;
    margin-right: 5px;
}

.company__big__desc {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.07px;
}

.company__big__desc p {
    margin-bottom: 10px;
}

.company__category__block {
    width: 100%;
    margin-top: 25px;

}

.category__block__name a{
    color: #000;

    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.category__block__wrapper {
    margin-top: 26px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.category__block__wrapper__elements{
    flex-wrap: wrap;
    justify-content: initial;
}
.category__block__element {
    height: 264px;
    width: 190px;
    border-radius: 11px;
background: #EDEDED;
position: relative;
}
.category__block__wrapper__elements .category__block__element{
    margin: 20px 14px;
}

.block__element__image {
    border-radius: 11px 11px 0px 0px;
    height: 190px;
    width: 190px;
    overflow: hidden;
}
.block__element__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block__element__name {
    color: #000;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 10px;
margin-left: 15px;
}

.block__element__price {
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

position: absolute;
right: 15px;
bottom: 6px;
}