.edit__company__form {
    width: 100%;
    margin-top: 56px;
    margin-bottom: 10vh;
}

.profile__desc__social {
    display: none;
    visibility: hidden;
}

.edit__company__wrapper {
    width: 100%;
}

.edit__company__input {
    width: 100%;
    height: 88.337px;
    margin-bottom: 24px;
}

.edit__company__wrapper .edit__company__input:last-child {
    margin-bottom: 109px;
}

.edit__company__input input {
    padding: 30px 40px;
    width: 100%;
    height: 88.337px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.2);
    color: #858282;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__desc__change__foto a p {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 31px;
}

.edit__company__submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit__company__submit button {
    width: 248px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 11px;
    background: rgba(69, 198, 9, 0.5);
}

.edit__company__submit button p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.edit__company__name {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 52px;
    margin-left: 51px;
}

.edit__company__name_sert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 43px;
}

.edit__company__name_sert img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.edit__company__certificate {
    width: 100%;
    height: 88.337px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.2);
    display: flex;
    align-items: center;
    padding: 0px 44px;
    margin-bottom: 25px;
}

.edit__company__certificate__name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #858282;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.edit__company__certificate__name img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 663px;
    height: 192px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #ededed;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Add your desired CSS styles here */
.popup__input {
    width: 509px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}



.file-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0px 27px 0px 15px;
}

.custom-label {
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;


    color: #858282;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}

.error-message {
    display: none;
}

.file-upload p {}



.popup__content {

    width: 509px;
    margin: 0 auto;
    text-align: left;
}

.popup__name {
    color: #606060;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 9px;
    margin-top: 45px;
}

.popup__upload {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.popup__upload button {
    width: 143px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #DCD9D9;
    display: flex;
    align-content: center;
    justify-content: center;
}

.popup__upload button p {
    padding-top: 4px;
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;

}

.file-upload p {
    font-size: 24px;
}

.error-message {
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    .company__profile__container {
        width: 336px;
    }

    .company__profile__name {
        display: none;
    }

    .profile__desc__views {
        display: none;
        visibility: hidden;
    }

    .profile__desc__fotoviews {
        width: 120px;
    }

    .profile__desc__foto {
        width: 120px;
        height: 120px;
    }

    .profile__desc {
        margin-left: 13px;
    }

    .profile__desc__name {
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .profile__desc__location {
        width: initial;
        justify-content: initial;
    }

    .profile__desc__location p {
        font-size: 9px;
    }

    .profile__desc__location p:first-child {
        margin-right: 5px;
    }

    .profile__desc__location span {
        font-size: 9px;
    }

    .profile__desc__date {
        font-size: 8px;
        margin-top: 7px;
    }

    .profile__desc__date__more {
        width: initial;
        justify-content: initial;
    }

    .profile__desc__date__more p:first-child {
        margin-right: 5px;
    }

    .profile__desc__date__more p {
        margin-top: 7px;
    }

    .profile__desc__date__more p {
        font-size: 8px;
    }

    .profile__desc__contacts__name {
        margin-top: 5px;
        font-size: 9px;
    }

    .profile__desc__contacts {
        margin-top: 5px;
    }

    .profile__desc__contacts__all {
        font-size: 7.5px;
        position: relative;
        width: 180px;
        height: 20px;
    }

    .profile__desc__contacts__all p:nth-child(3) {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .company__profile__desc {
        width: 100%;
        padding-right: 0;
    }

    .profile__desc__contacts p {
        width: initial;
    }

    .company__profile__desc__wrapper {
        margin: 0 auto;
    }

    .profile__desc__contacts__all p:nth-child(3) {}

    .profile__desc__contacts__represent {
        font-size: 7.5px;
        position: relative;
        width: 180px;
        height: 20px;
    }

    .profile__desc__contacts__represent p:nth-child(3) {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .company__profile__desc {
        width: 100%;
        padding-right: 0;
    }

    .profile__desc__contacts p {
        width: initial;
    }

    .company__profile__desc__wrapper {
        margin: 0 auto;
    }

    .profile__desc__contacts__represent p:nth-child(3) {}

    .profile__desc__change__foto a p {
        color: #000;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        margin-top: 7px;
        width: 110%;
        transform: translateX(-5px);
    }

    .edit__company__input input {
        height: 39px;
        width: 100%;
        padding: 12px;

        color: #858282;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .edit__company__input {
        height: 39px;
        margin-bottom: 11px;
    }

    .edit__company__wrapper .edit__company__input:last-child {
        margin-bottom: 40px;
    }

    .edit__company__submit button {
        width: 161px;
        height: 39px;
        flex-shrink: 0;
        border-radius: 3px;
        background: #b6dfa2;
    }

    .edit__company__submit button p {
        color: #000;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .edit__company__name {
        margin-left: 0px;
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 23px;
    }

    .edit__company__name_sert img {
        width: 15px;
        height: 15px;
    }

    .edit__company__certificate {
        padding: 0px 20px;
        height: 39px;
        margin-bottom: 11px;
    }

    .edit__company__certificate p {
        color: #858282;
        font-family: Gilroy;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .edit__company__certificate img {
        width: 20px;
        height: 20px;
    }
    .edit__company__name_sert{
        margin-right: 23px;
    }
    .popup {
        width: 356px;
height: 176.382px;
border-radius: 11px;
background: #EDEDED;
    }
    .popup__content{
        width: 275px;
    }
    .popup__input{
        width: 274.552px;
height: 24.812px;
flex-shrink: 0;
border-radius: 3px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    }
    .popup__name{
        color: #606060;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
    .custom-label{
        color: #858282;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
    .file-upload {
        padding-right: 9px;
    }
    .popup__upload button{
        width: 108.958px;
height: 25.352px;
flex-shrink: 0;
border-radius: 5px;
background: #DCD9D9;
    }
    .popup__upload button  p {
        color: rgba(0, 0, 0, 0.50);
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}