.b2b__main__page {
    width: 1148px;
    margin: 0 auto;
    min-height: 100vh;
}

.b2b__main__wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.b2b__main__categories {
    width: 25%;
    padding-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.b2b__categories__name {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    margin-bottom: 15px;
}

.b2b__categories__list a {
    display: block;
    color: #000;
    font-family: Century Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 23px;

    margin-bottom: 16px;

}

/*****************/
.b2b__main__search {
    width: 70%;
    padding-left: 45px;

}

.main__search__name {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.main__search__name span {
    margin: 0px 8px;
}

.main__search__name a {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main__search__name .active__link {
    color: #06F;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main__search__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main__search__element {
    width: 100%;
    height: 156px;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.20);
    padding: 20px 35px;
    display: flex;
    position: relative;

    margin-bottom: 30px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}

.main__search__element:last-child {
    margin-bottom: 60px;
}

.search__element__logo {
    width: 113px;
    height: 113px;
    overflow: hidden;
    border-radius: 5px;
    margin-left: 16px;
}

.search__element__logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.search__element__desc {
    margin-left: 50px;
}

.search__element__desc__name {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.search__element__desc__location {
    display: flex;
    width: 325px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.search__element__desc__tags {
    width: 325px;
    display: flex;
    flex-wrap: wrap;
}

.search__element__desc__tags a {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 8px;
}

.search__element__info {
    position: absolute;
    right: 37px;
    bottom: 29px;
    border-radius: 5px;
    background: #D9D9D9;
    width: 116px;
    height: 31px;
    flex-shrink: 0;

}

.search__element__info a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search__element__desc__location div {
    display: flex;
    align-items: center;
}

.search__element__desc__location div p:first-child {
    margin-right: 5px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}

.search__element__desc__location div p:nth-child(2) {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.b2b__mobile__filter{
    display: none;
    visibility: hidden;
}
.mobile__b2b__filter__block{
    display: none;
}
@media only screen and (max-width: 768px) {
    .b2b__main__search{
        position: relative;
    }


    .mobile__b2b__filter__block {
        width: 100%;
        height: 80vh;
        background-color: red;
        position: absolute;
        top: 0;
        z-index: 200;
        padding: 18px;
    }
    .mobile__filtr__block_opened{
        display: block;
    }
    .mobile__b2b__filter__container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .mobile__b2b__filter__close {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 30px;
        height: 30px;
        background-color: #06F;
        font-size: 20px;
    }
    .main__search__name{
        display: none;
        visibility: hidden;
    }
    .b2b__mobile__filter{
        visibility: visible;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        align-items: center;
    }
    .b2b__main__categories {
        display: none;
        visibility: hidden;
    }

    .b2b__mobile__filter__button button {
        width: 25px;
height: 25px;
flex-shrink: 0;
border-radius: 5px;
background: rgba(217, 217, 217, 0.23);
display: flex;
align-items: center;
justify-content: center;
    }
    .b2b__mobile__filter__sort-element{
        width: 95.876px;
height: 22.906px;
flex-shrink: 0;

border-radius: 5px;
background: rgba(217, 217, 217, 0.23);
    }
.b2b__mobile__filter__sort-element a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b2b__mobile__filter__sort-element a p{
    color: #000;
text-align: center;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
    .b2b__main__search {
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }

    .main__search__element {
        width: 100%;
        height: 93px;
        flex-shrink: 0;
        border-radius: 5px;
        background: rgba(217, 217, 217, 0.20);
        padding: 15px;
    }

    .search__element__desc {
        margin-left: 15px;
    }

    .search__element__logo {
        width: 62px;
        height: 62px;
        margin-left: 0;
    }

    .b2b__main__page {
        width: 100%;
    }

    .search__element__desc__name {
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px;
    }

    .search__element__desc__location {
        width: 80%;
    }

    .search__element__desc__location div p:first-child {
        color: #000;
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .search__element__desc__location div p:nth-child(2) {
        color: #000;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }





    .search__element__info {
        width: 71px;
        height: 17.653px;
        flex-shrink: 0;
    }

    .search__element__info p {
        color: #000;
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .search__element__desc__tags {
        width: 180px;
    }

    .search__element__desc__tags a {
        color: #000;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .search__element__info{
        right: 15px;
        bottom: 12px;
    }
    .main__search__element{
        margin-bottom: 13px;
    }
}