.header__container{
    width: 100%;
    height: 100px;
    .header__wrapper{
        width: 89.8%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        .header__image{
            a{}
            img{}
        }
        .header__navigation{

        }
        .header__profile{
            .header__profile__image{
                img{}
            }
        }
    }
}