

.main__page__container {
    height: calc(100vh - 100px);
    width: 100%;
    .advertisement {
        height: 100%;

        max-width: 1148px;
        margin: 0 auto;


        .advertisement__wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;

            .block {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 6px;

                
                .advertisement__block_small {
                    height: 161.14px;
                    width:  279.26px;
                    border-radius: 17px;
                    background-color: $mainGreen;
                    margin-bottom: 9.93px;
                }
                .advertisement__block_medium {
                    height: 161.46px;
                    width: 565.67px;
                    border-radius: 17px;
                    background-color: $primaryGreen;
                    margin-bottom: 9.93px;
                }
                .advertisement__block_big {
                    height: 332.22px;
                    width: 565.67px;
                    background-color: $primaryGrey;
                    border-radius: 17px;
                    margin-bottom: 9.93px;
                }
                .block_big {
                    width: 50%;
                }
                .block_small{
                    width: 50%;
                    display: flex;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                .block__wrapper{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 20px 10px;
                    color: $mainWhite;
                    font-size: 11px;
                    .block__name p{
                        font-size: 13px;
                        font-weight: 700;
                        margin-bottom: 8px;
                    }
                }

            }
        }
    }
    .survey {
        .name {
        }
        .container {
            .survey__block {
                background-color: red;
            }
        }
    }
}
