.change__status__main {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 46px;
}

.change__status__name {
    width: 100%;
    text-align: center;

    color: #000;
    text-align: center;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 59px;
}

.change__status__content {
    width: 100%;

}

.change__status__wrapper {
    display: flex;
    justify-content: space-between;
}

.change__status__element {
    width: 230px;

}

.change__status__element__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.change__status__element__image {
    width: 230px;
    height: 230px;
    display: flex;
    align-content: center;
    justify-content: center;


}

.change__status__element__image img {
    margin-top: 5px;
    display: block;
    width: 219px;
    height: 219px;
}

.change__status__element__image1 {
    background-image: url('./imgs/change1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.change__status__element__image2 {
    background-image: url('./imgs/change2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.change__status__element__image3 {
    background-image: url('./imgs/change3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.change__status__element__image4 {
    background-image: url('./imgs/change4.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.change__status__element__content {
    margin-top: 35px;
    width: 230px;
    height: 320px;
    border-radius: 10px;
    background: #EDEDED;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.change__status__element__desc {
    width: 100%;
    text-align: center;
}

.change__status__element__desc p {
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.change__status__element__price {
    width: 100%;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.change__status__element__change {
    margin-top: 35px;
    width: 100%;
    background-color: green;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.change__status__element__change button {
    width: 100%;
    height: 100%;


    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
    /* Enable scrolling within the popup */

}

#popupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    width: 878px;
    height: 572px;

    border-radius: 10px;
    background: #EDEDED;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 64px 30px 41px 30px;
}



.popup__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.popup__element {
    height: 467px;
    width: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 23px 10px;

}

.popup__element:nth-child(2) {
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}

.popup__element__name {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.popup__price__image__number__wrapper {
    position: relative;
    height: 182px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup__price__image {
    height: 74px;
    width: 100%;
}

.popup__price__image p {
    color: #858282;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popup__price__image img {
    position: absolute;
    top: 0%;
    left: 30px;
}

.popup__price__number {
    height: 74px;
    width: 100%;
}

.popup__price__number p {
    color: #000;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}





.popup__buy {
    width: 230px;
    margin: 0 auto;
    text-align: center;
}

.popup__buy a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 230px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #B6DFA2;
}

.popup__buy a p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media only screen and (max-width: 768px) {
    .change__status__main {
        width: 300px;
    }

    .change__status__name {
        color: #000;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .change__status__wrapper {
        flex-direction: column;
    }

    .change__status__element {
        width: 100%;
        margin-bottom: 30px;
    }

    .change__status__element__wrapper {
        padding-top: 20px;
        flex-direction: row;
        border-top: 1px solid #c4c4c4;
    }

    .change__status__element:nth-child(1) .change__status__element__wrapper {
        border: none;
    }

    .change__status__element__image {
        width: 80px;
        height: 80px;
    }

    .change__status__element__image img {
        width: 73px;
        height: 71px;
    }

    .change__status__element__content {
        margin-top: 0px;
        padding: 8px 19px;

        height: 81px;
        width: 197px;

        position: relative;
    }

    .change__status__element__price {
        color: #000;
        text-align: right;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: absolute;
        bottom: -20px;
        right: 0;
    }

    .change__status__element__desc p {
        color: #000;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
    }

    .change__status__element__desc p {
        margin-bottom: 6px;
    }

    .change__status__element__change {
        height: 26px;
        border-radius: 3px;
        background: #EDEDED;

    }

    .change__status__element__change button {
        color: #000;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    #popupContent {
        width: 316px;
        height: 387px;
        padding: 11px 10px;
    }

    .popup__wrapper {
        flex-direction: column;

    }

    .popup__element {
        height: 93px;
        width: 100%;
        flex-direction: row;
        padding: 0px 10px;
        position: relative;
    }

    .popup__element__name {
        position: absolute;
    }

    .popup__element:nth-child(2) {
        height: 110px;
    }

    .popup__element:nth-child(2) {
        height: 120px;
    }

    .popup__element__name p {
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
    }

    .popup__price__number p {
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .popup__price__image p {
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .popup__price__image img {
        height: 28px;
        width: 54px;
        top: -8%;
        left: 5px;
    }

    .popup__buy {
        width: 82px;
        height: 25px;
        flex-shrink: 0;
    }

    .popup__price__image__number__wrapper {
        flex-direction: column;
        height: initial;
        width: initial;
        position: absolute;

    }

    .popup__price__image {
        height: initial;
    }

    .popup__price__number {
        height: initial;
        padding-top: 18px;
    }

    .popup__buy a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup__buy a p {
        color: #000;
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .popup__element:nth-child(2) {
        border-left: none;
        border-right: none;
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
    }

    .popup__element__name {
        text-decoration: none;
        text-transform: uppercase;
    }

    .popup__element__name p:after {
        content: " -";

    }

    .popup__element:nth-child(1) .popup__price__image__number__wrapper {
        top: 20px;
        left: 93px;
    }

    .popup__element:nth-child(2) .popup__price__image__number__wrapper {
        top: 50px;
        left: 111px;
    }

    .popup__element:nth-child(3) .popup__price__image__number__wrapper {
        top: 39px;
        left: 118px;
    }




    .popup__element:nth-child(1) .popup__buy {
        position: absolute;
        right: 0;
        bottom: 33px;
    }

    .popup__element:nth-child(2) .popup__buy {
        position: absolute;
        right: 0;
        bottom: 47px;
    }

    .popup__element:nth-child(3) .popup__buy {
        position: absolute;
        right: 0;
        bottom: 32px;
    }
}