.edit__item__wrapper {
    width: 634px;
    margin: 0 auto;
}

.edit__item__container {
    width: 100%;

}

.edit__item__name {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.edit__item__category {
    margin-top: 30px;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.edit__item__tags {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

.edit__item__size {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
}

.edit__item__country_company {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.edit__item__fotography {
    margin-top: 50px;
    margin-bottom: 40px;
}

.edit__item__fotography__name {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.edit__items__sertificates__name {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.edit__items__sertificates {}

.edit__items__delete__save {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.edit__items__delete__save a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.edit__items__delete__save a p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.edit__items__delete {
    width: 225px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #DFA2A2;
}

.edit__items__save {
    width: 225px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #B6DFA2;
}

.edit__item__fotography__container {
    display: flex;
    justify-content: space-between;
}














.image-input {
    text-align: center;
    width: 111px;
    height: 150px;
}

.image-input input {
    display: none;
}

.image-input label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 111px;
    flex-shrink: 0;
    border-radius: 11px;
    background: rgba(196, 196, 196, 0.40);
    color: #858282;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.image-preview {
    border-radius: 11px;
    width: 111px;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-input img {
    width: 111px;
    height: 111px;
    object-fit: cover;
    display: none;
    border-radius: 11px;
}

.image-input span {
    display: none;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}











.edit__items__sertificates__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.document-input {
    text-align: center;
    position: relative;
}

.document-input input {
    display: none;
}

.document-input label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 111px;
    flex-shrink: 0;
    border-radius: 11px;
    background: rgba(196, 196, 196, 0.40);
    color: #858282;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.file-preview {
    border-radius: 11px;
    width: 111px;
    height: 111px;
    object-fit: cover;
    display: none;
}

.file-info {
    margin-top: 5px;
}

.file-name {
    width: 111px;
    height: 21px;
    color: #000;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;

    overflow: hidden;
}

.file-error {
    color: red;
}

/* Add a class for the hover effect */
.file-preview:hover::before {}

/* Hide the "Delete" text by default */
.file-preview::before {
    content: '';
    display: none;
}

/* Style the placeholder image */
.file-preview {
    border-radius: 11px;
    width: 111px;
    height: 111px;
    object-fit: cover;
    z-index: 100;
    cursor: pointer;
}

.delete__text {
    display: none;
    position: absolute;
    top: 36%;
    width: 50px;
    left: calc(50% - 25px);
    background-color: aliceblue;
    color: #000;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    z-index: 400;
}

.file-preview:hover .delete__text {
    display: block;
}

/* Add more styling as needed */

/* Add more styling as needed */
.edit__items__delete__save {
    margin-top: 33px;
}

.file-error {
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: red;
}

@media only screen and (max-width: 768px) {
    .edit__item__name {
        color: #000;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .edit__item__category {
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 15px;
    }

    .edit__item__tags {
        font-size: 10px;
    }

    .edit__item__size {
        font-size: 10px;
    }

    .edit__item__country_company {
        color: #000;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .image-input {
        width: 52px;
        height: 65px;
    }

    .image-input label {
        width: 52px;
        height: 52px;
    }

    .edit__item__wrapper {
        width: 336px;
    }

    .edit__items__sertificates__name {
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .edit__item__fotography__name {
        color: #000;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .image-input img {
        width: 52px;
        height: 52px;
    }

    .document-input label {
        width: 52px;
        height: 52px;
    }

    .document-input {
        width: 52px;
        height: 65px;
    }

    .file-name {
        width: 50px;
    }

    .file-preview {
        width: 52px;
        height: 52px;
    }

    .edit__items__delete {
        width: 114px;
        height: 24px;
        flex-shrink: 0;
        border-radius: 5px;
    }
    .edit__items__delete a p{
        color: #000;
text-align: center;
font-size: 8px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }


    .edit__items__save {
        width: 114px;
        height: 24px;
        flex-shrink: 0;
        border-radius: 5px;
    }
    .edit__items__save a p{
        color: #000;
text-align: center;
font-size: 8px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }
}