.item__page__wrapper {
    width: 1148px;
    margin: 0 auto;
}

.item__page__container {
    display: flex;
    justify-content: space-between;
}

.item__block {
    width: 75%;
    padding-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.40);
}

.item__content__block {
    display: flex;

}

.item__image {
    height: 348px;
    width: 348px;
    border-radius: 11px;
    overflow: hidden;
}

.item__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item__content__desc {
    margin-left: 33px;
}

.item__name {
    width: 290px;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.item__tags {
    display: flex;
    width: 317px;
    margin-bottom: 26px;
    flex-wrap: wrap;
}

.item__tags a {
    margin-left: 4px;
    color: #000;

    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.item__date {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.item__number {
    width: 215px;
    height: 58px;
    border-radius: 8px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.item__number p {
    display: block;
    width: 135.66px;
    height: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}

.item__number__desc {
    color: #000;
    margin-left: 10px;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.item__description {
    margin-top: 77px;
}

.item__description__country {

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 20px;
}

.item__description__color {

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item__description__text {
    margin-top: 20px;
}

.item__description__text p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.item__articles {
    width: 100%;
    height: 175px;
    border-radius: 17px;
background: #F1F1F1;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: flex;
align-items: center;
justify-content: center;

}
.item__articles__container{
    width: 85%;

    height: 100%;
    position: relative;

}
.swiper-wrapper{

}
.item__recomendation__block{
    margin-top: 25px;
    display: block;
    width: 116.75px;
    height: calc(116.75px  + 15.86px + 7.2px);

}
.item__recomendation__image{
    width: 116.75px;
    height: 116.75px;
    border-radius: 5px;
    overflow: hidden;
}
.item__recomendation__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item__recomendation__name{
    color: #000;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.item__articles__container [class^="swiper-button-next"] {
    position: absolute;
    right: -40px;
    color: rgba(250, 250, 250, 0);

    background-image: url('./imgs/arrow_next.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item__articles__container [class^="swiper-button-prev"] {
    position: absolute;
    left: -40px;

    color: rgba(250, 250, 250, 0);

    background-image: url('./imgs/arrow_prev.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.photo-container {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 350px;
}

.photos {
    height: 300px;
    width: 100%;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.pagination{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}
.photos img {
    flex: 0 0 100%;
    scroll-snap-align: start;
}






















.item__recomendation__container {
    width: 24%;

}

.additional__block__articles {}

.additional__block__articles__name {}

.additional__block__articles__content {}