.new__article__add__aditional p {
    color: #858282;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.new__article__desc {
    width: 100%;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 58px;
}

.new__article__form {
    width: 100%;
    height: 100px;
}

.new__article___submit {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.new__article___submit button {
    width: 247px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

    color: #858282;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.new__article__name {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.new__article__name input {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

.new___article__tags {
    display: flex;

}

.new__article__selected__options {
    margin-left: 32px;
}

.new__article__content {
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #ffecec;
    height: 300px;
}


/************************************/
.dropdown3 {
    position: relative;
    display: inline-block;
}

.dropdown-select3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;

    width: 340px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #D9D9D9;

    padding-left: 5px;
    padding-right: 10px;

    position: relative;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-select3 p {
    font-size: 20px;
    color: rgba(133, 130, 130, 1);

    position: absolute;
    left: 38px;
    bottom: 10px;

}
.dropdown-select3  span{
    position: absolute;
    right: 16px;
    bottom: 10px;
}
.dropdown-arrow3 {
    margin-left: 5px;
    transition: transform 0.3s;
}








.dropdown-options3 {
    margin-bottom: 22px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 296px;
    overflow-y: auto;

    background-color: rgba(240, 240, 240, 1);
    color: rgba(73, 72, 72, 1);

    font-weight: 700;
    font-size: 18px;



}
.dropdown-options3 input {
    margin-right: 26px;
}
.dropdown-option3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
}

.selected-options3 {
    display: flex;
    flex-wrap: wrap;
}

.selected-option3 {
    margin-right: 6px;
}

.new__article___submit__edit button{
    border-radius: 11px;
background: #B6DFA2;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
color: #000;
font-family: Gilroy;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}







/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: rgba(73, 72, 72, 1);
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: rgba(217, 217, 217, 1);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {

  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {

  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: -7px;
    width: 11px;
    height: 21px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }







@media only screen and (max-width: 768px) {
    .new__article__desc {
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .new__article__name input {

        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .dropdown-select3 {
        width: 110px;
    }

    .new__article___submit button {
        border-radius: 5px;
        width: 114px;
        height: 24px;
        flex-shrink: 0;
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }





    .additional__block__articles__mobile {
        width: 100%;
        height: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        padding: 5px 0px 15px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 32px;
    }

    .additional__block__mobile__name {
        color: #000;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
    }

    .additional__block__mobile__wrapper a {
        display: block;
        margin-top: 5px;
    }

    .additional__block__mobile__wrapper a p {
        color: #858282;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .dropdown-select3 p {
        color: #000;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .dropdown-arrow3{
        font-size: 10px;
    }

}