/* Hide the up and down arrows for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

.profile_page_wrapper {
    width: 1148px;
    margin: 0 auto;

}

.profile__content_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.profile__userdata {
    width: 50%;
    display: flex;


}

.profile__userdata_image {
    height: 246px;
    width: 246px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.prfile__userdata_image__block {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 17px;
}

.profile__userdata_image a {
    display: block;
    position: absolute;
    bottom: -30px;

    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.profile__userdata_image img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 17px;
}


.prfile__userdata_image__block img {
    height: 100%;
    object-fit: cover;
}

.profile__userdata__content {
    height: 246px;
    width: 246px;
    margin-left: 27px;
    padding-top: 10px;
}

.profile__userdata__name {
    color: #000;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__userdata__element {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.profile__userdata__settings {
    width: 100%;
}

.profile__userdata__settings a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 152.897px;
    height: 29.149px;
    border-radius: 10px;
    background: #D9D9D9;
}

.profile__userdata__settings a p {
    color: #000;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__saved {
    width: 50%;
}

.profile__saved_savedpages {
    width: 90.9%;
    height: 64.129px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.20);
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__saved_savedpages a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__saved_savedpages p {
    color: #000;
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.profile__saved_savedgoods {
    width: 90.9%;
    height: 64.129px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 23px;
}

.profile__saved_savedgoods p {
    color: #000;
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__buisness_section {
    margin-top: 60px;

    border-radius: 17px;
    background: rgba(217, 217, 217, 0.25);
}

.profile__buisness_create {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 17px;
    width: 100%;
    border-radius: 17px;
    background: #EDEDED;
    padding: 39px 16px 39px 50px;
}

.profile__buisness_create__name {
    color: #000;
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.profile__buisness_create span {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-right: 7px;
}

.profile__buisness_create a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 213px;
    height: 40px;
    border-radius: 10px;
    background: #B6DFA2;
}

.profile__buisness_create a p {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile__saved {}

.cahnge__profile__container {
    width: 100%;
}

.cahnge__profile__input {
    width: 100%;
    height: 50.129px;
    flex-shrink: 0;
    margin-bottom: 15px;


    border-radius: 10px;
    background: rgba(217, 217, 217, 0.20);
}

.cahnge__profile__input input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.20);
    padding: 14px 25px;

    color: #606060;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.cahnge__profile__save {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 43px;

}

.cahnge__profile__save button {
    width: 334.812px;
    height: 50.129px;
    flex-shrink: 0;

    border-radius: 10px;
    background: #B6DFA2;

    display: flex;
    align-items: center;
    justify-content: center;


    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/************************************************************/
.dropbtn2 {
    width: 520.524px;
    height: 64.129px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.20);

    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 4px;
    max-height: 200px;
    z-index: 1;
    padding: 10px 0px;
}

.dropdown__articles__wrapper {
    width: 98%;

    overflow-y: auto;
    max-height: 180px;
}

/* For webkit-based browsers (Chrome, Safari) */
.dropdown__articles__wrapper::-webkit-scrollbar {
    width: 3px;
    /* Adjust the width as per your preference */
}

.dropdown__articles__wrapper::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    /* Color of the scroll thumb */
    border-radius: 4px;
    /* Rounded corners for the thumb */
}

.dropdown__articles__wrapper::-webkit-scrollbar-track {
    background-color: rgba(217, 217, 217, 0.20);
    /* Color of the track */
    border-radius: 4px;
}





.dropdown-content2 a {
    width: 95%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 32px;

}

.dropdown__link_name {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

.dropdown__link_tags {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown2 a:hover {
    background-color: #ddd;
}

.show2 {
    display: block;
}

/************************************************************/

.dropbtn3 {
    width: 520.524px;
    height: 64.129px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.20);

    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.dropdown3 {
    margin-top: 23px;
    position: relative;
    display: inline-block;

}

.dropbtn3_desc {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown-content3 {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 4px;
    max-height: 200px;
    z-index: 1;
    padding: 10px 0px;
}

.dropdown__articles__wrapper {
    width: 98%;

    overflow-y: auto;
    max-height: 180px;
}

/* For webkit-based browsers (Chrome, Safari) */
.dropdown__articles__wrapper::-webkit-scrollbar {
    width: 3px;
    /* Adjust the width as per your preference */
}

.dropdown__articles__wrapper::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    /* Color of the scroll thumb */
    border-radius: 4px;
    /* Rounded corners for the thumb */
}

.dropdown__articles__wrapper::-webkit-scrollbar-track {
    background-color: rgba(217, 217, 217, 0.20);
    /* Color of the track */
    border-radius: 4px;
}





.dropdown-content3 a {
    width: 95%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 32px;

}

.dropdown__link_name {
    color: #000;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

.dropdown__link_tags {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown3 a:hover {
    background-color: #ddd;
}

.show3 {
    display: block;
}




.profile__buisness__wrapper {
    width: 100%;


}

.profile__buisness__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 49px 70px;
}

.profile__buisness__element {
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.20);
    width: 100%;
    height: 156px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}

.element__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 23px 40px 23px 70px;
    position: relative;
}

.element__foto {
    width: 113px;
    height: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    background: #D9D9D9;
}

.element__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.element__desc {
    height: 100%;
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.element__name {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.element__location {
    margin-top: 10px;
    display: flex;
    max-width: 480px;
    justify-content: space-between;
}

.element__location div:nth-child(2) {
    margin-left: 20px;
}

.element__location div {
    display: flex;

}

.element__location p {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.element__location div p:nth-child(1) {
    font-weight: 700;
    margin-right: 5px;
}

.element__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 14px;
    max-width: 375px;
    height: 36px;
}
.element__tags p {
    color: #000;
    margin-right: 4px;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.element__more {
    position: absolute;
    width: 116px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #D9D9D9;
    right: 40px;
    bottom: 29px;
}

.element__more a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element__more a p {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
























@media only screen and (max-width: 768px) {
    .profile_page_wrapper {
        width: 100%;
    }

    .profile__content_wrapper {
        flex-direction: column;
        width: 310px;
        margin: 0 auto;
    }

    .dropdown2 {
        width: 100%;
        height: 39px;

    }

    .dropbtn2 {
        width: 100%;
        height: 39px;
    }

    .dropbtn2_desc {
        color: #000;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .dropdown3 {
        width: 100%;
        height: 39px;
    }

    .dropbtn3 {
        width: 100%;
        height: 39px;
    }

    .dropbtn3_desc {
        color: #000;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .dropdown__link_name {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .dropdown__link_tags {
        color: #000;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .profile__userdata {
        width: 100%;
        margin: 0 auto;
    }

    .profile__saved {
        width: 100%;
        margin: 0 auto;
    }

    .profile__saved_savedpages {
        width: 100%;
    }

    .profile__userdata_image {
        width: 120px;
        height: 120px;
    }

    .profile__userdata__name {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 14px;
    }

    .profile__userdata__element {
        color: #000;

        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0px;
        margin-bottom: 10px;
    }

    .profile__userdata__content {
        width: initial;
        height: initial;
        padding-top: 0;
    }

    .profile__userdata__settings a {
        width: 97.639px;
        height: 16px;
        flex-shrink: 0;
        border-radius: 3px;
        background: #D9D9D9;
    }

    .profile__userdata__settings a p {
        color: #000;
        text-align: center;
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .profile__saved {
        margin-top: 23px;
    }

    .profile__saved_savedpages {
        border-radius: 3px;
        background: rgba(217, 217, 217, 0.20);
        width: 100%;
        height: 39px;

    }

    .profile__saved_savedpages p {
        color: #000;
        text-align: center;

        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .profile__saved_savedgoods {
        width: 100%;
        height: 39px;
        border-radius: 3px;

    }

    .profile__saved_savedgoods p {
        color: #000;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .profile__buisness_section {

        width: 310px;
        height: 50px;
        margin: 0 auto;
        border-radius: 3px;
        background: rgba(217, 217, 217, 0.20);
        padding: 0;
        margin-top: 23px;
    }

    .profile__buisness_create {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .profile__buisness_create a {
        width: 85px;
        height: 19px;
        flex-shrink: 0;
        border-radius: 3px;
        background: #B6DFA2;
        margin-right: 20px;

    }

    .profile__buisness_create a p {
        color: #000;
        text-align: center;

        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


    .cahnge__profile__input {
        border-radius: 3px;
        background: rgba(217, 217, 217, 0.20);
        width: 100%;
        height: 39px;
        flex-shrink: 0;
    }

    .cahnge__profile__input input {
        border-radius: 3px;
        background: rgba(217, 217, 217, 0.20);
        width: 100%;
        height: 39px;
        flex-shrink: 0;

        color: #858282;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .profile__userdata_image a {
        color: #000;
        text-align: center;
        width: 200px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;

        left: -31px;
        bottom: -23px;
    }

    .cahnge__profile__container {
        margin-top: 30px;
    }

    .cahnge__profile__save button {
        width: 161px;
        height: 39px;
        flex-shrink: 0;
        border-radius: 3px;
        background: #B6DFA2;


        color: #000;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .cahnge__profile__save {
        align-items: center;
        justify-content: center;
        margin-top: 22px;
    }
}