@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Thin.woff2') format('woff2'),
    url('./fonts/Gilroy-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Light.woff2') format('woff2'),
    url('./fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
    url('./fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Semibold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
    url('./fonts/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Extrabold.woff2') format('woff2'),
    url('./fonts/Gilroy-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Black.woff2') format('woff2'),
    url('./fonts/Gilroy-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}




* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Gilroy', Arial, sans-serif;
  overflow: auto;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


/***********HEADER**************/
/***********HEADER**************/
/***********HEADER**************/
.header__container {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 9999;
}

.header__container .header__wrapper {
  width: 89.8%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__image_b2b {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}

.header__image_b2b a {
  color: #000;
  overflow: visible;
}

.header__container .header__wrapper .header__navigation ul {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__container .header__wrapper .header__navigation ul li a {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  padding: 7px 11px;
  font-weight: 700;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
}

.header__container .header__wrapper .header__navigation ul li a:hover {
  background-color: rgb(255, 255, 0);
}

.header__profile {
  width: 50px;
  height: 50px;
  display: flex;

  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
}

.dropdown {
  display: none;
  position: absolute;
  top: 22.5px;
  right: 22.5px;
  width: 198px;
  height: 142px;
  background-color: #fff;

  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
  border-radius: 17px;

}

.dropdown_loggedin {
  width: 198px;
  height: 222px;
  flex-shrink: 0;
}

.dropdown__profile__image {
  width: 100%;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown__profile__image a {
  display: block;
  width: 41px;
  height: 41px;

}

.dropdown__profile__image img {
  height: 100%;
}

.profile__name {
  width: 80%;
  margin: 0 auto;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__logout {
  width: 100%;
}

.profile__logout a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  border: 0.3px solid rgba(0, 0, 0, 0.20);
  background: #E3E3E3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  width: 151.8px;
  height: 23.1px;
  flex-shrink: 0;
}

.profile__logout a p {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 23.1px;
}

.dropdown__languages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  width: 121px;
  margin: 0 auto;
}

.dropdown__languages a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}

.dropdown__languages a img {
  width: 19px;
  height: 19px;
}

.lang_active {
  border: 2px solid #FFFF00;
}

.dropdown__login_block {
  width: 152px;
  height: 23px;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid #00000011;
  box-shadow: 0px 6px 6px -1px #0000001c;
}

.dropdown__login_block p {
  font-size: 14px;
  color: #000;
}

.__login__green {
  background-color: #B6DFA2;
}

/***************IF USER LOGGED IN*************************/
.burger__mobile__profile__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-top: 15px;
}

.burger__mobile__profile__image img {
  width: 40px;
  height: 40px;
}

.burger__mobile__profile__name {
  width: 100%;
  text-align: center;
  color: #000;
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 10px;
  margin-bottom: 10px;
}

.burger__mobile__profile__logout {
  height: 23.891px;
}

.burger__mobile__profile__logout a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  height: 23.891px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.3px solid rgba(0, 0, 0, 0.20);
  background: #E3E3E3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.burger__mobile__profile__logout a p {
  color: #000;
  text-align: center;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/************************************/
/************************************/
/************************************/
.main__content {
  min-height: calc(100vh - 100px);
  margin-top: 120px;
  width: 100%;
}

/************FOOTER*************/
/************FOOTER*************/
/************FOOTER*************/
.footer {
  width: 100%;
  min-height: 232px;
  background-color: rgb(0, 0, 0);
  border-radius: 13px 13px 0 0;
  padding: 30px 0px;
}

.footer .footer__wrapper {
  width: 89.8%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer .footer__wrapper .footer__image__copy {
  width: 165px;
}

.footer .footer__wrapper .footer__nav {
  width: 80%;
}

.footer .footer__wrapper .footer__nav .footer__nav__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer .footer__wrapper .footer__nav .footer__nav__wrapper .footer__nav__block .footer__nav__element a {
  margin-bottom: 6px;
}

.footer__nav__element {
  margin-bottom: 7px;
}

.footer .footer__wrapper .footer__nav .footer__nav__wrapper .footer__nav__block .footer__nav__element a p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 22.07px;
}

.footer__copy {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 38px;
}

/*********************************/

.header__navigation__mobile {
  display: none;
  visibility: hidden;
}

.header__burger_menu {
  display: none;
  visibility: hidden;
}

.footer__numbers__mobile-only {
  display: none;
  visibility: hidden;
}

/************************************/




.b2b__active__link {
  background-color: rgba(255, 255, 0, 1);
}



.b2b__header__navigation {
  width: 595px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.b2b__link {
  width: 211px;
  height: 41px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b2b__link a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}

.b2b__link a:hover {
  background-color: #FFFF00;
}

.b2b__link a p {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.b2b__logo__archi {
  width: 105px;
  height: 38.61px;

}

.header__image_b2b a {
  color: #000;
  overflow: visible;
}

/**! *****FILTR STYLES FOR ALL PAGES*************/
/**! *****FILTR STYLES FOR ALL PAGES*************/
/**! *****FILTR STYLES FOR ALL PAGES*************/

/**? *****Стили контейнера и названий*************/
/* Add your CSS styles here */
.main__filter__container {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.main__filter__name {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.main__filter__description {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 11px;
}
.main__filter__search{
  margin-top: 30px;
  width: 188px;
  text-align: right;
}
.main__filter__search button {
  width: 113px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #EDEDED;
}

.main__filter__search button p {
  color: #000;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.additional__container{
    width: 100%;
    min-height: 50px;

}
.additional__container__block{
  width: 100%;
  height: 100%;
}
/***? ***********Стили выпадающих списков******************/
.custom-select {
  width: 188px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  height: 34px;
}

.select-box {
  display: flex;
  align-items: center;
  cursor: pointer;

  padding: 5px;
  user-select: none;
  width: 188px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #EDEDED;
  z-index: 100;
  padding-left: 10px;
}
.selected-option{
  width: 100%;
  
}
.arrow {
  margin-left: auto;
  transition: transform 0.2s;
  margin-right: 5px;
  color: #858282;


}

.options {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;

  display: none;

  background-color: #EDEDED;
  z-index: 300;

  width: 188px;

  border-radius: 5px 5px 10px 10px;
}

.option {
  padding: 5px;
  cursor: pointer;
  padding-left: 10px;
  height: 34px;
}
.option:first-child{
  border-radius: 5px 5px 0px 0px;
}
.option:last-child{
  border-radius: 0px 0px 10px 10px;
}

.option:hover {
  background-color: #c7c7c7;
}
.custom-select-container{
  margin-top: 30px;
}
.custom__select__additionalname{
  color: #000;
font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.custom_select_name{
  margin-top: 21px;
  color: #000;
font-family: Gilroy;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 4px;
padding-left: 10px;
}


/****? ******FILTR STYLES MOBILE***********/
.main__filtr__mobile{
  display: none;
  visibility: hidden;
}
.popup_filter {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.popup_filter-content {
  position: absolute;
  top: 102px;
  left: 0;
  width: 344px;
  height: 80vh;

  border-radius: 5px;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.popup__filter__container{
  width: 260px;
  height: auto;
  background-color: red;
  margin-left: 45px;
  margin-top: 41px;
}
.close_filter {
  position: absolute;
  top: 10px;
  left: 18px;
  font-size: 24px;
  cursor: pointer;
}

/**! *****FILTR STYLES FOR ALL PAGES*************/
/**! *****FILTR STYLES FOR ALL PAGES*************/
/**! *****FILTR STYLES FOR ALL PAGES*************/

/************************************/
@media only screen and (max-width: 768px) {


  html {
    overflow: hidden;
  }

  .header__navigation {
    display: none;
    visibility: hidden;
  }

  .header__profile {
    display: none;
    visibility: hidden;
  }

  .header__navigation__mobile {
    display: flex;
    visibility: visible;

    align-items: center;
    justify-content: center;

    width: 101px;
    height: 20px;
    background-color: rgba(255, 255, 0, 1);
    border-radius: 5px;

    margin-right: 30px;


  }

  .header__navigation__mobile_b2b {
    width: 120px;
  }

  .header__navigation__mobile p {
    color: #000;


    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

  }



  .header__image {}

  .header__image a {
    display: block;
    width: 55px;
    height: 20px;
    overflow: hidden;
  }

  .header__image a img {
    width: 100%;
  }

  /*************************************************************************/
  /*************************************************************************/
  /*************************************************************************/
  .header__burger_menu {
    display: block;
    visibility: visible;
    width: 40px;
    height: 40px;
  }

  .menu-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .burger-menu {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger-icon {
    height: 25px;
    width: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .burger-icon .bar {
    width: 100%;
    border-radius: 3px;
    background-color: #000;
    height: 3px;
  }

  .burger__menu__content {
    position: absolute;
    width: 190px;
    height: 270px;

    /*left: -124px;*/
    right: -225px;


    padding: 20px 32px;
    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .open__burger__menu {
    right: initial;
    left: -124px;
  }


  .burger__menu__languages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .burger__menu__languages a {
    color: #000;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .burger__menu__languages__active {
    text-decoration: underline;
  }

  .burger__menu__login {
    width: 100%;
    text-align: center;
    margin-top: 23px;
  }

  .burger__menu__login a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.3px solid rgba(0, 0, 0, 0.20);
    background: #B6DFA2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    width: 127px;
    height: 23.891px;

  }

  .burger__menu__login p {
    color: #000;
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .burger__menu__registration {
    width: 100%;
    text-align: center;
    margin-top: 14px;
  }

  .burger__menu__registration a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 127px;
    height: 23.891px;
    flex-shrink: 0;

    border-radius: 5px;
    border: 0.3px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  }

  .burger__menu__registration p {
    color: #000;
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .burger__menu__links {
    margin-top: 26px;
  }

  .burger__menu__links a {
    display: block;
    color: #000;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
  }

  /*************************************************************************/
  /*************************************************************************/
  /************************/
  .footer {
    height: initial;
    min-height: initial;
  }

  .footer__numbers__mobile-only {
    display: block;
    visibility: visible;


  }

  .footer__numbers__mobile-only p {
    color: #FFF;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 7.5px;
  }

  .footer .footer__wrapper .footer__nav .footer__nav__wrapper .footer__nav__block .footer__nav__element a p {
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer .footer__wrapper .footer__nav .footer__nav__wrapper .footer__nav__block .footer__nav__element {
    margin-bottom: 4px;
  }

  .footer__copy {

    margin-top: 9px;
  }

  .footer__copy p {
    color: #FFF;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }

  .footer__image {
    width: 65px;
    height: 24px;
  }

  .footer__image img {
    width: 100%;
  }

  .footer .footer__wrapper .footer__image__copy {
    width: 100px;
  }

  .footer .footer__wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer .footer__wrapper .footer__nav {
    width: 220px;
  }

  .header__image_b2b a {
    color: #000;
    overflow: visible;
  }
  /**! *****FILTR STYLES FOR ALL PAGES*************/
/**! *****FILTR STYLES FOR ALL PAGES*************/
/**! *****FILTR STYLES FOR ALL PAGES*************/
/**! *****FILTR STYLES FOR ALL PAGES*************/
  .main__filtr__mobile{
    display: block;
    visibility: visible;
  }
  .main__filtr__mobile__wrapper{
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }
  .main__filtr__mobile__wrapper button {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
background: rgba(217, 217, 217, 0.23);
  }
  .main__filtr__mobile__element {

  }
  /**! *****FILTR STYLES FOR ALL PAGES*************/
/**! *****FILTR STYLES FOR ALL PAGES*************/

}