@font-face {
  font-family: "CenturyGothic";
  src: url("./fonts/CenturyGothic.ttf") format("ttf"), url("./fonts/gothicb.ttf") format("ttf"), url("./fonts/GOTHICB0.TTF") format("ttf"), url("./fonts/GOTHIC.TTF") format("ttf");
  /* Add other font properties like font-weight and font-style if needed */
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "CenturyGothic", sans-serif;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


/***********HEADER**************/
/***********HEADER**************/
/***********HEADER**************/
.header__container {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 9999;
}

.header__container .header__wrapper {
  width: 89.8%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__image_b2b {
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}

.header__image_b2b a {
  color: #000;
}

.header__container .header__wrapper .header__navigation ul {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.header__container .header__wrapper .header__navigation ul li a {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  padding: 7px 11px;
  font-weight: 700;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
}

.header__container .header__wrapper .header__navigation ul li a:hover {
  background-color: rgb(255, 255, 0);
}

.header__profile {
  width: 50px;
  height: 50px;
  display: flex;

  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
}

.dropdown {
  display: none;
  position: absolute;
  top: 22.5px;
  right: 22.5px;
  width: 198px;
  height: 142px;
  background-color: #fff;

  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
  border-radius: 17px;

}

.dropdown_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 23.1px;
}

.dropdown__languages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  width: 121px;
  margin: 0 auto;
}

.dropdown__languages a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}

.dropdown__languages a img {
  width: 19px;
  height: 19px;
}

.lang_active {
  border: 2px solid #FFFF00;
}

.dropdown__login_block {
  width: 152px;
  height: 23px;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid #00000011;
  box-shadow: 0px 6px 6px -1px #0000001c;
}

.dropdown__login_block p {
  font-size: 14px;
  color: #000;
}

.__login__green {
  background-color: #B6DFA2;
}






/************************************/
/************************************/
/************************************/
.main__content {
  min-height: calc(100vh - 100px);
  margin-top: 120px;
  width: 100%;
}

/************FOOTER*************/
/************FOOTER*************/
/************FOOTER*************/
.footer {
  width: 100%;
  min-height: 232px;
  background-color: rgb(0, 0, 0);
  border-radius: 13px 13px 0 0;
  padding: 30px 0px;
}

.footer .footer__wrapper {
  width: 89.8%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer .footer__wrapper .footer__image__copy {
  width: 165px;
}

.footer .footer__wrapper .footer__nav {
  width: 80%;
}

.footer .footer__wrapper .footer__nav .footer__nav__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer .footer__wrapper .footer__nav .footer__nav__wrapper .footer__nav__block .footer__nav__element a {
  margin-bottom: 6px;
}

.footer .footer__wrapper .footer__nav .footer__nav__wrapper .footer__nav__block .footer__nav__element a p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.07px;
}

.footer__copy {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 38px;
}

/*********************************/

.header__navigation__mobile {
  display: none;
  visibility: hidden;
}

.header__burger_menu {
  display: none;
  visibility: hidden;
}

.footer__numbers__mobile-only {
  display: none;
  visibility: hidden;
}

/************************************/
/************************************/
@media only screen and (max-width: 768px) {
  html {
    overflow: hidden;
  }

  .header__navigation {
    display: none;
    visibility: hidden;
  }

  .header__profile {
    display: none;
    visibility: hidden;
  }

  .header__navigation__mobile {
    display: flex;
    visibility: visible;

    align-items: center;
    justify-content: center;

    width: 101px;
    height: 20px;
    background-color: rgba(255, 255, 0, 1);
    border-radius: 5px;


  }

  .header__navigation__mobile p {
    color: #000;


    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

  }



  .header__image {}

  .header__image a {
    display: block;
    width: 55px;
    height: 20px;
    overflow: hidden;
  }

  .header__image a img {
    width: 100%;
  }

  /*************************************************************************/
  /*************************************************************************/
  /*************************************************************************/
  .header__burger_menu {
    display: block;
    visibility: visible;
    width: 40px;
    height: 40px;
  }

  .menu-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .burger-menu {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger-icon {
    height: 25px;
    width: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .burger-icon .bar {
    width: 100%;
    border-radius: 3px;
    background-color: #000;
    height: 3px;
  }

  .burger__menu__content {
    position: absolute;
    width: 190px;
    height: 270px;

    /*left: -124px;*/
    right: -225px;


    padding: 20px 32px;
    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .open__burger__menu {
    right: initial;
    left: -124px;
  }


  .burger__menu__languages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .burger__menu__languages a {
    color: #000;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .burger__menu__languages__active {
    text-decoration: underline;
  }

  .burger__menu__login {
    width: 100%;
    text-align: center;
    margin-top: 23px;
  }

  .burger__menu__login a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.3px solid rgba(0, 0, 0, 0.20);
    background: #B6DFA2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    width: 127px;
    height: 23.891px;

  }

  .burger__menu__login p {
    color: #000;
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .burger__menu__registration {
    width: 100%;
    text-align: center;
    margin-top: 14px;
  }

  .burger__menu__registration a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 127px;
    height: 23.891px;
    flex-shrink: 0;

    border-radius: 5px;
    border: 0.3px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  }

  .burger__menu__registration p {
    color: #000;
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .burger__menu__links {
    margin-top: 26px;
  }

  .burger__menu__links a {
    display: block;
    color: #000;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
  }

  /*************************************************************************/
  /*************************************************************************/
  /************************/
  .footer {
    height: initial;
    min-height: initial;
  }

  .footer__numbers__mobile-only {
    display: block;
    visibility: visible;


  }

  .footer__numbers__mobile-only p {
    color: #FFF;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 7.5px;
  }

  .footer .footer__wrapper .footer__nav .footer__nav__wrapper .footer__nav__block .footer__nav__element a p {
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer .footer__wrapper .footer__nav .footer__nav__wrapper .footer__nav__block .footer__nav__element {
    margin-bottom: 4px;
  }

  .footer__copy {

    margin-top: 9px;
  }

  .footer__copy p {
    color: #FFF;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }

  .footer__image {
    width: 65px;
    height: 24px;
  }

  .footer__image img {
    width: 100%;
  }

  .footer .footer__wrapper .footer__image__copy {
    width: 100px;
  }

  .footer .footer__wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer .footer__wrapper .footer__nav {
    width: 220px;
  }
}