$primaryGrey: rgba(230, 230, 230, 1);
$grey: rgba(217, 217, 217, 1);

$black: rgba(0,0,0,1);
$primaryBlack: rgba(0, 0, 0, 0.25);

$yellow: ;

$primaryGreen: rgba(182, 223, 162, 1);
$mainGreen: rgba(66, 144, 29, 1);

$mainWhite: #ffffff;

:root{
    --primaryGrey: ${$primaryGrey};
    --grey: ${$grey};

    --black: ${$black};
    --primaryBlack: ${$primaryBlack};

    --yellow: rgba(255, 255, 0, 1);

    --primaryGreen: ${$primaryGreen};
    --mainGreen: ${$mainGreen};

    --mainWhite: ${$mainWhite};
}


.container {
    .header {
        color: var(--yellow);
    }
    .stalker {
        color: red;

    }
}
