.under__construction__page{
    width: 100%;
    
}
.under__construction__advertisement{
    width: 1148px;
    margin: 0 auto;
    margin-top: 197px;
    margin-bottom: 200px;
}

.underconst__name {
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 200px;

}
.underconst__desc {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 110px;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .underconst__name{
        color: #000;
text-align: center;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0;
    }
    .underconst__desc{
        color: #000;
text-align: center;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 11px;

    }
    .under__construction__advertisement {

        width: 338px;
        margin-top: 50px;
    }
    .advertisement__block:nth-child(1){
        display: block;
        visibility: visible;
    }
}